html {
  font-family: Helvetica;
  background-color: #311515;
}

.container {
  max-width: 1150px;
  background-color: #ccc0c0;
  position: relative;
  margin: 65px auto;
  padding: 20px 50px;
}

.bold {
  font-weight: bold;
}

.header {
  text-align: center;
}

.main-title {
  font-size: 45px;
}

.main-paragraph {
  font-style: italic;
}

.featured-image {
  text-align: center;
  margin-top: 30px;
}

.biograph-container {
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1 dashed #ddd;
  border-bottom: 1px dashed #ddd;
}

.quotes-container {
  background-color: #ddd;
  padding: 30px;
}

.quotes-container blockquote {
  font-weight: bold;
  font-size: 30px;
}

.quotes-container p {
  font-style: italic;
}

.curiosities-container {
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}

.curiosities-container li {
  height: 30px;
}

.img-bold {
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
}